@import url('https://fonts.googleapis.com/css?family=Corben|Play');

body {
  background-color: #ffff94;
  padding-top: 16px;
  padding-right: 56px;
  padding-left: 56px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-align: justify;
  font-family: 'Play', sans-serif;
}